@import "variables.scss";

body.page-home {
    margin: 0 3px;

    .container {
        max-width: 768px;
        margin: 0 auto;

        p#logo {
            margin: 0;
            text-align: center;

            img {
                width: 300px;
            }
        }
    }

    h1 {
        text-align: center;
        font-size: 2.5em;
        margin-top: -22px;
    }

    ol {
        margin: 0;

        li {
            margin-bottom: 12px;
            img {
                vertical-align: bottom;
                height: 24px;
            }
        }
    }
    
    p#event-box {
        input {
            width: 150px;
        }

        a {
            float:right;
        }
        
    }
}
