@import "variables.scss";

body.page-unauthorized {
    margin: 0 3px;

    .container {
        max-width: 768px;
        margin: 0 auto;

        p#logo {
            margin: 0;
            text-align: center;

            img {
                width: 300px;
            }
        }
    }

    h1 {
        text-align: center;
        font-size: 2.5em;
        margin-top: -22px;
    }

    p#input-box {
        text-align:center;
        input {
            width: 150px;
        }
    }
}
