body.page-unauthorized {
  margin: 0 3px; }
  body.page-unauthorized .container {
    max-width: 768px;
    margin: 0 auto; }
    body.page-unauthorized .container p#logo {
      margin: 0;
      text-align: center; }
      body.page-unauthorized .container p#logo img {
        width: 300px; }
  body.page-unauthorized h1 {
    text-align: center;
    font-size: 2.5em;
    margin-top: -22px; }
  body.page-unauthorized p#input-box {
    text-align: center; }
    body.page-unauthorized p#input-box input {
      width: 150px; }

