body.page-create {
  margin: 0 3px; }
  body.page-create .container {
    max-width: 768px;
    margin: 0 auto; }
    body.page-create .container p#logo {
      margin: 0;
      text-align: center; }
      body.page-create .container p#logo img {
        width: 300px; }
  body.page-create h1 {
    text-align: center;
    font-size: 2.5em;
    margin-top: -22px; }
  body.page-create div#input-box {
    text-align: center; }
    body.page-create div#input-box p {
      margin: 12px 0; }
    body.page-create div#input-box input, body.page-create div#input-box button {
      width: 200px;
      padding: 4px 7px; }

