@model Fotoschachtel.ViewModels.Event.CreateViewModel

@{
    ViewBag.BodyClass = "page-create";
}

<p id="logo">
    <img src="/img/fotoschachtel_512.png" />
</p>

<h1>Neues Event erstellen</h1>

<p>
    Wenn du hier ein Event erstellst, kannst du es anschließend sofort über die Fotoschachtel-App verwenden. 
    Scanne dort entweder den QR-Code, oder gib manuell den Namen und das Passworts des Events ein.
</p>

<form asp-action="Create">
    @Html.ValidationSummary()

    <div id="input-box">
        <p>
            <input asp-for="Event" placeholder="Event" />
        </p>
        <p>
            <input asp-for="Password" placeholder="Password" />
        </p>
        <p>
            <input asp-for="Email" placeholder="E-Mail-Adresse"/>
        </p>
        <p>
            <button>Event anlegen</button>
        </p>
    </div>
</form>