@{
    ViewBag.BodyClass = "page-home";
}

<p id="logo">
    <img src="/img/fotoschachtel_512.png" />
</p>

<p id="event-box">
    <input type="text" id="event" placeholder="Event"/><button id="gotoEventButton">Dieses Event anzeigen</button>
    <br />
    <a href="@Url.Action("Create", "Event")" class="btn btn-default">Neues Event anlegen</a>
</p>

<p>
    Ich war noch nie auf einer Hochzeit, einer Party, einem Gruppenausflug oder sonst irgendeinem Event, wo tags drauf der Austausch der Fotos mit allen anderen Gästen nicht wahnsinnig kompliziert war.
</p>

<h1>
    Fotoschachtel möchte dieses Problem lösen
</h1>

<p>
    Fotoschachtel ist eine App für Android und iOS, mit der jeder Gast eines Events blitzschnell Fotos machen kann.
</p>
<p>

    Diese Fotos werden dann unmittelbar und sofort mit allen anderen Gästen geteilt.
    Keine endlosen E-Mail-Kettenbriefe, kein Hantieren mehr mit Dropbox oder Einweg-Kameras aus den 90ern:
    <ul>
        <li><span class="glyphicon glyphicon-phone"></span> Smartphone rausholen</li>
        <li><span class="glyphicon glyphicon-download"></span> Fotoschachtel runterladen</li>
        <li><span class="glyphicon glyphicon-camera"></span> Fotos machen</li>
        <li><span class="glyphicon glyphicon-heart-empty"></span> Fertig</li>
    </ul>
</p>

<p>
    Fotoschachtel ist ein Hobbyprojekt von Hannes 'saxx' Sachsenhofer. Am besten du kontaktierst mich über <a href="https://twitter.com/saxx">Twitter</a>.
</p>

@section scripts {
    <script>
        $("#gotoEventButton").click(function() {
            var event = $("#event").val();
            if (event.length > 0) {
                window.location = "@Url.Content("~/event")/" + event;
            }
        });
    </script>
}