@import "variables";

body.page-create {
    margin: 0 3px;

    .container {
        max-width: 768px;
        margin: 0 auto;

        p#logo {
            margin: 0;
            text-align: center;

            img {
                width: 300px;
            }
        }
    }

    h1 {
        text-align: center;
        font-size: 2.5em;
        margin-top: -22px;
    }

    div#input-box {
        text-align:center;
        p {
            margin: 12px 0;
        }
        input, button {
            width: 200px;
            padding: 4px 7px;
        }
    }
}
