@import "featherlight";
@import "featherlight.gallery";
@import url("https://fonts.googleapis.com/css?family=Roboto:100");

@import "variables";

body {
    background-color: $blue;
    color: white;
    margin: 12px;
    font-family: $font-family;
    font-weight: 100;

    @media(max-width: $smallWidth) {
        margin: 3px;
    }
}

a, a:visited, a:active, a:focus {
    color: white;
    text-decoration: underline dotted;
}

a:hover {
    color: white;
    text-decoration: underline;
}

input[type=text], input[type=password] {
    background-color: $blue;
    border: 2px solid $white;
    color: $white;
    font-size: 1.1em;
    padding: 4px 7px;
}

button, .btn-default, .btn-default:hover, .btn-default:focus, .btn-default:visited, .btn-default:active {
    background-color: $white;
    border: 2px solid $white;
    color: $blue;
    font-size: 1.1em;
    padding: 4px 20px;
    border-radius: 0;
    text-decoration: none;
}

.validation-summary-errors {
    ul {
        list-style-type:none;
        padding: 0;
    }
    color: $red;
}
input[type=text].input-validation-error {
    border-color: $red;
}

html.dragging body, html.dragging .thumbnail {
    background-color: $white;
}

@import "page-home";
@import "page-event";